html {
  background: #ccc;
}

h1 {
  font-size: 1.3rem;
  line-height: 24px;
  padding: 30px 0 10px;
}

h2 {
  font-size: 1rem;
  line-height: 20px;
}

main {
  padding: 25px 0 70px;
}

.map {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

svg {
  background: #fff;
}

.error-message {
  background: hsl(349, 96%, 95%);
  border: 1px solid hsl(349, 96%, 90%);
  border-radius: 5px;
  color: hsl(349, 96%, 26%);
  display: none;
  line-height: 20px;
  margin: 12px auto;
  max-width: 700px;
  padding: 15px 10px;
  width: 100%;
}

footer {
  background: #fff;
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

@media only screen and (min-width: 600px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
